---
import Layout from '../layouts/Layout.astro';
import PersonnalisationTabs from '../components/PersonnalisationTabs.astro';
import pb from '../utils/pb';

const materiauxMonture = await pb.collection('Materiau').getFullList({
  filter: 'type_cible ~ "Monture"',
});

const materiauxVerres = await pb.collection('Materiau').getFullList({
  filter: 'type_cible ~ "Verres"',
});

const materiauxBranches = await pb.collection('Materiau').getFullList({
  filter: 'type_cible ~ "Branches"',
});

// DEBUG : Affiche dans la console serveur
console.log('Monture:', materiauxMonture.length);
console.log('Verres:', materiauxVerres.length);
console.log('Branches:', materiauxBranches.length);
---

<Layout title="Test">
  <div class="p-8">
    <!-- DEBUG : Affiche dans la page -->
    <p>Monture: {materiauxMonture.length} matériaux</p>
    <p>Verres: {materiauxVerres.length} matériaux</p>
    <p>Branches: {materiauxBranches.length} matériaux</p>
    
    <PersonnalisationTabs 
      materiauxMonture={materiauxMonture}
      materiauxVerres={materiauxVerres}
      materiauxBranches={materiauxBranches}
    />
  </div>
</Layout>
